:root {
    --dark: #2A1F38;
    --darkaccent: #BA3D65;
    --main: #DDAB9F;
    --lightaccent: #B4A4A2;
    --light: #F6FAEF;
}

html, body {
    height: 100%;
    margin: 0;
    background: var(--dark);
}

body {
    font-family: 'Alegreya', serif;
    font-size: 2vw;
    color: var(--dark);
    display: none;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--main);
    margin-left: 1%;
    margin-right: 1%;
}

.fullpage {
    display: none;
    flex-flow: column nowrap;
    min-height: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
}

#header {
    font-family: 'Lora', serif;
    font-size: 9.8vw;
    line-height: 100%;
    color: var(--main);
}

#subheader {
    color: var(--lightaccent)
}

#topgr {
    display: none;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    background: var(--dark);
    height: 30.278%;
    text-align: center;
    padding-top: 15%;
}

#links {
    display: none;
    width: 100%;
    height: 25%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.linktext {
    width: 17%;
    text-align: center;
    font-family: 'Lora', serif;
    color: var(--darkaccent);
    font-size: 3vw;
}

#bottombar {
    display: none;
    width: 30%;
    height: 40%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 3vw;
}

.fas, .fab {
    color: var(--main);
}

@media (orientation: portrait) {
    #header {
        font-size: 9.8vh;
    }
    
    #subheader {
        font-size: 2vh;
    }
    
    #linktext. #bottombar {
        font-size: 3vh;
    }
}