:root {
    --dark: #0A070D;
    --main: #FFE2C2;
    --accent: #3A342C;
}

html, body {
    height: 100%;
    margin: 0;
    background: var(--dark);
}

body {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2vw;
    color: var(--dark);
    height: 100%;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--main);
    margin-left: 1%;
    margin-right: 1%;
    opacity: 0;
}

#content {
    padding-top: 5%;
    padding-left: 35%;
    display: flex;
    width: 30%;
    height: 70%;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 4vw;
}

#footnote {
    color: var(--accent);
    text-align: center;
    margin-top: 3%;
    font-size: 1.5vw;
}

#footnotetxt {
    opacity: 0;
}

@media (orientation: portrait) {
    
    #content {
        width: 90%;
        padding-left: 5%;
        height: 90%;
        padding-top: 2%;
        font-size: 10vw;
    }
}